<header class="header container">
  <nav class="nav">
    <a href="#">
      <svg class="header-logo">
        <use href="./img/icons.svg#icon-logo"></use>
      </svg>
    </a>
    <a href="">
      <svg class="header-logo-text">
        <use href="./img/icons.svg#icon-bookshelf"></use>
      </svg>
    </a>
    <button class="header-menu-button" data-modal-open type="button">
      <svg class="header-burger-menu">
        <use href="./img/icons.svg#icon-align-left"></use>
      </svg>
    </button>
  </nav>
</header>
