.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  margin-left: auto;
  margin-right: auto;

  padding: 18px 20px;
  border: 1px solid black;
  height: 64px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.nav {
  display: flex;
  align-items: center;
}
.header-logo {
  width: 24px;
  height: 24px;
}
.header-logo-text {
  max-width: 77px;
  height: 13.2px;
}
.header-burger-menu {
  width: 28px;
  height: 28px;
  stroke: black;
}
.header-menu-button {
  margin-left: auto;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
}
/* .nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.nav-link:hover,
.nav-link:focus {
  color: #747bff;
} */
